{
  "env": {
    "development": {
      "plugins": [
        "babel-plugin-styled-components"
      ],
      "compact": false
    }
  },
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}