.main-container {
  font-family: Arial, Helvetica, sans-serif;
}

.content-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.content-container .filters {
  flex: 0 1 18%;
}

.content-container .content {
  flex: 0 1 78%;
}

@media (min-width: 500px) {
  .content-container {
    padding-top: 89px;
  }
}